<html>
    <head>
        <meta charset="utf-8">
        <title>snake handle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="telephone=no" name="format-detection"/>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/zepto.min.js"></script>
        <script src="/touch.js"></script>
        <style>
            #status{
                border:#333 solid 1px; 
            }
            #handlebar{
                margin-top:10px;
                position:relative; 
            }
            #top,#left,#right,#down{
                position:absolute;
                width:100px;
                height:100px;
                border:#333 solid 1px;
            }
            #top{
                left:100px; 
                top:0px;
            }
            #left{
                left:0px; 
                top:100px;
            }
            #right{
                left:200px; 
                top:100px;
            }
            #down{
                left:100px; 
                top:200px;
            }
        </style>
    </head>
    <body>
        <div id="status">
            <span id="number"></span> 
            <br>
            <span id="current"></span> 
            <br>
            <span id="userstatus"></span> 
            <br>
            <button id="ready">确认准备</button>
        </div>
        <div id="handlebar">
            <!--
            <div id="top"></div> 
            <div id="right"></div> 
            <div id="down"></div> 
            <div id="left"></div> 
            -->
            <div id="stop"></div> 
            <div id="start"></div> 
        </div>
        <script>
            function objtoarr(obj){
                var ret = [];
                for(var i in obj){
                    ret.push(obj[i]); 
                } 
                return ret;
            }

            function getName(){
                var name = prompt("please type your name","");
                if(!name || name == null || name === ""){
                    location.reload();
                    }else{
                    return name; 
                }
            }

            $(function(){
                var name = getName();
                var socket = io.connect('http://172.16.121.205:5566');
                var clientid;
                function updateReady(roomstatus){
                    var ret = '';
                    for (var i in roomstatus) {
                        ret += roomstatus[i].name + ':' + (roomstatus[i].isready ? '已准备': '未准备') + '<br>';
                    }
                    $('#userstatus').html(ret);
                }

                socket.on('connect',function(){
                    socket.on('open',function(data){
                        clientid = data.id;
                        var roomstatus = data.roomstatus;
                        if(objtoarr(roomstatus).length >= 5){
                            alert('当前用户超过限制，稍后再来玩吧！'); 
                            location.href = '/rank';
                        }
                        if(name){
                            socket.emit('setname',{id:clientid,name:name}); 
                        }
                        roomstatus[clientid].name = name;
                        $('#current').text('当前id:'+name); 
                        $('#number').text('当前房间人数:'+objtoarr(roomstatus).length);
                        updateReady(roomstatus);
                    });

                    socket.on('updateReady',function(data){
                        updateReady(data);     
                    });

                    socket.on('system',function(json){
                        if(json.type == 'updateReady'){
                            updateReady(json.data);     
                        }
                        if(json.type == 'reopen' || json.type == 'reload'){
                            location.reload(); 
                        }
                        if(json.type == 'new'){
                            socket.emit('status',function(data){
                                var users = objtoarr(data);
                                $('#number').text('当前房间人数:'+users.length);
                            }); 
                            updateReady(json.data);
                        }
                    });

                    $('#ready').bind('touchstart',function(){
                        var disabled = $(this).attr('disabled');
                        if(!disabled){
                            $(this).attr('disabled',true);
                            $(this).text('已准备');
                            socket.emit('isready',clientid);
                        }
                        return false; 
                    });
                    /*
                    $('#top').bind('touchstart',function(){
                        socket.emit('top');             
                        return false; 
                    }); 
                    $('#right').bind('touchstart',function(){
                        socket.emit('right');             
                        return false; 
                    });
                    $('#down').bind('touchstart',function(){
                        socket.emit('down');             
                        return false; 
                    });
                    $('#left').bind('touchstart',function(){
                        socket.emit('left');             
                        return false; 
                    });
                    */
                    $(window).bind('beforeunload',function(){
                        socket.emit('offline');
                    });
                    $(document).bind('touchstart',function(){
                        return false;
                    });
                    $(document).swipeUp(function(){
                        socket.emit('top');             
                    });
                    $(document).swipeLeft(function(){
                        socket.emit('left');             
                    });
                    $(document).swipeRight(function(){
                        socket.emit('right');             
                    });
                    $(document).swipeDown(function(){
                        socket.emit('down');             
                    });
                });
            });
        </script>
    </body>
</html>
