<script src="../public/snake.js"></script>
<style>
    .snake {
        background : #ccc;
    }
    .a {background : red}
    .b {background : green}
    .c {background : yellow}
</style>
<div id="hehe"></div>

<script >
    var snake = new Snake;
    snake.config({
        containerId : 'hehe'
    });

    snake.__fastInit();

    document.onkeydown = function(e){
        var s = snake.players['user1'].snake;
        console.info(e.keyCode)
        snake.setDirection(s,{'37' : 'left', '38' : 'up',  '39' : 'right', '40' : 'down'}[e.keyCode]); 
    }
</script>
